extends _layouts/base

block content

    #app

    //- main
    //-     .container
    //-         include _modules/controls/controls

    //-     .container
    //-         canvas#src
    //-         canvas#dest
